.account-section {
    min-height: 100vh;
    display: flex;
}
.account-left {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 35%;
    min-width: 600px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid rgba($white,.15);
    @include breakpoint(max-xl) {
        min-width: 550px;
    }
    @include breakpoint(max-lg) {
        min-width: 450px;
        padding-left: 60px;
        padding-right: 60px;
    }
    @include breakpoint(max-md) {
        min-width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        border-left: 1px solid rgba($white,.15);
    }
    @include breakpoint(max-sm) {
        padding-left: 50px;
        padding-right: 50px;
    }
    @include breakpoint(max-xs) {
        padding-left: 15px;
        padding-right: 15px;
    }
    &.sign-up {
        width: 50%;
        padding-left: 80px;
        padding-right: 80px;
        border-left: 1px solid rgba($white,.15);
        @include breakpoint(xxl) {
            min-width: 700px;
        }
        @include breakpoint(max-xxl) {
            min-width: 700px;
        }
        @include breakpoint(max-xl) {
            min-width: 600px;
            padding-left: 50px;
            padding-right: 50px;
        }
        @include breakpoint(md) {
            border-right: 0;
        }
        @include breakpoint(max-md) {
            min-width: 100%;
            padding-left: 50px;
            padding-right: 50px;
        }
        @include breakpoint(max-sm) {
            padding-left: 50px;
            padding-right: 50px;
        }
        @include breakpoint(max-xs) {
            padding-left: 10px;
            padding-right: 10px;
        }
        .account-form {
            .form--group {
                margin-bottom: 18px;
            }
        }
    }
}
.account__right {
    width: calc(100% - 35%);
    min-height: 100vh;
    position: relative;
    &::before  {
        @include before-set;
        opacity: .7;
    }
}
.account__header {
    width: 100%;
    &-title {
        margin-top: 35px;
        margin-bottom: 5px;
        font-size: 32px;
    }
    p {
        margin-bottom: 35px;
        @include breakpoint(max-xs) {
            margin-bottom: 25px;
        }
    }
    .cmn--btn {
        border-color: $facebook !important;
        color: $facebook !important;
        background: $white !important;
        box-shadow: none;
        font-weight: 600;
    }
    .or-info {
        font-weight: 500;
        position: relative;
        text-align: center;
        &::before, &::after {
            position: absolute;
            content: '';
            width: 30px;
            height: 1px;
            background: $border-color;
            top: 49%;
            @include breakpoint(max-xs) {
                width: 20px;
            }
        }
        &::after {
            right: 100px;
        }
        &::before {
            left: 100px;
        }
    }
}
.account-form {
    width: 100%;
    ::-webkit-input-placeholder {
        color: rgba($dark,.6);
        font-size: 15px;
        font-weight: 300;
    }
    .form--group {
        margin-bottom: 25px;
        position: relative;
    }
    .form--control {
        width: 100%;
        border-radius: 5px;
        border-color: $border-color;
        &:focus {
            border-color: $base-color;
            box-shadow: none;
            ::-webkit-input-placeholder {
                color: rgba($white,.6) !important;
                font-size: 15px;
                font-weight: 300;
            }
        }
    }
    .form--label {
        position: absolute;
        left: 15px;
        font-size: 13px;
        background: $white;
        padding: 1px 15px;
        @include transition;
        top: 0;
        transform: translateY(-50%);
    }
    .forgot-pass {
        font-size: 15px;
    }
}
.account__footer {
    width: 100%;
    text-align: left;
    margin-top: 15px;
}